.main-header {
  width: 100%;
  display: flex;
  background-color: #1b2727;
  flex-direction: row;
}

body {
  display: flex;

  flex-direction: column;
}
button {
  width: 150px;
  margin-top: 20px;
  background-color: #6b8e4e;
  border: none;
  border-radius: 3%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Chivo", sans-serif;
}
body {
  font-family: "Chivo", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: italic;
}

.project-name {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #b2c5b2;
}

img {
  width: 35%;
  height: 100%;
}
.filler {
  width: 5%;
}
.project-type {
  width: 100%;
  font-size: medium;
  text-align: center;
  color: #b2c5b2;
}
.text {
  color: #d5dddf;
  width: 60%;
  padding: 90px 90px 90px 90px;
  display: flex;
  float: left;
  justify-content: left;
  flex-direction: column;
}
.bio-text {
  width: 80%;
  padding: 0px 0px 90px 90px;
}

.biography {
  color: #3c5148;

  width: 100%;
  background-color: #b2c5b2;
}
.about-me {
  padding: 90px 0px 0px 90px;
}

.portfolio {
  width: 100%;
  background-color: #3c5148;
  color: #b2c5b2;
}

.portfolio-title {
  padding: 90px 0px 0px 90px;
}

.project-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.project {
  display: flex;
  margin: 2%;
  flex-direction: column;
  align-items: center;
}
.image-placeholder {
  width: 300px;
  height: 420px;
  background-color: rgb(218, 211, 211);
  border-radius: 5%;
}

h1 {
  font-size: 50px;
}

p {
  font-size: large;
  width: calc(100%-90px);
}

h2 {
  font-size: 35px;
}
